.form__profile {
  max-width: 410px;
  margin: 0 auto;
}

.form__container_profile {
  text-align: center;
  margin-bottom: 70px;
}

.submit__button-profile {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  margin: 0 0 16px;
  transition: .3s linear;
}

.submit__button-profile:hover {
  opacity: .8;
  cursor: pointer;
}

.submit__button-profile_disabled {
  opacity: .4;
}

.submit__button-profile_disabled:hover {
  cursor: unset;
  opacity: .4;
}

.form__item-message {
  font-size: 13px;
  line-height: 16px;
  margin-top: 213px;
}

.form__inputs {
  max-width: 410px;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.form__exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  text-decoration: none;
  transition: .3s linear;
}

.form__exit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__heading-profile {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 74px auto 110px;
  max-width: 204px;
}

.form__item-profile {
  font-size: 11px;
  line-height: 13px;
  border-bottom: 0;
  padding: 0;
  text-align: end;
}

.form__item-profile:focus {
  outline: none;
  border-bottom: 0;
}

.form__item-profile_error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
}

.form__field-profile {
  display: flex;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-align: start;
}

.form__input-container-profile {
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 2px;
  margin-top: 13px;
}

.form__profile_span {
  margin-bottom: 10px;
}

.form__input-container_border {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

@media screen and (max-width: 780px) {
  .form__container_profile {
    margin-bottom: 200px;
  }

  .form__heading-profile {
    margin: 235px auto 83px;
  }

  .form__item-message {
    margin-top: 203px;
  }
}

@media screen and (max-width: 420px) {
  .form__profile {
    max-width: 260px;
  }

  .form__container_profile {
    margin-bottom: 40px;
  }

  .form__heading-profile {
    margin: 68px auto 67px;
  }

  .submit__button-profile {
    font-size: 12px;
    line-height: 15px;
    margin: 379px 0 16px;
  }

  .form__item-profile_error {
    font-size: 10px;
  }

  .submit__button-profile {
    margin-top: 150px;
  }

  .form__item-message {
    margin-top: 222px;
  }
}
