.movies-card {
  padding-top: 70px;
  padding-bottom: 65px;
  display: block;
}

.movies-card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 4fr));
  column-gap: 20px;
  row-gap: 38px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .movies-card {
    padding-top: 20px;
  }

  .movies-card__list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 2fr));
    column-gap: 30px;
    row-gap: 29px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 420px) {
  .movies-card {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  .movies-card__list {
    row-gap: 33px;
    margin: 50px 0;
  }
}
