.filter {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 20px;
}

.filter__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filter__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
  border: #2be080;
  pointer-events: none;
}

.filter__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  border-bottom: #2be080;
  transition: 0.4s;
  border-radius: 50%;
}

.filter__checkbox:checked + .filter__slider {
  background: #2be080;
}

.filter__checkbox:focus + .filter__slider {
  box-shadow: 0 0 1px #2be080;
}

.filter__checkbox:checked + .filter__slider:before {
  transform: translateX(20px);
}

@media screen and (max-width: 768px) {
  .filter {
    order: 1;
  }
}
