.filter {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 20px;
  cursor: pointer;
}

.filter input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
  pointer-events: none;
}

.filter__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .filter__slider {
  background: #2be080;
}

input:focus + .filter__slider {
  box-shadow: 0 0 1px #2be080;
}

input:checked + .filter__slider:before {
  transform: translateX(20px);
}

@media screen and (max-width: 768px) {
  .filter {
    order: 1;
  }
}