.header {
  padding: 18px 70px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 18px 14px;
  }
}
