.burger {
  z-index: 12;
  transition: 0.3s ease;
}

.burger__background {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.burger__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 68%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.burger__close-buton {
  border: none;
  background-image: url("../../images/icon-close.svg");
  background-color: #fff;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 23px;
  right: 23px;
  padding: 0;
}

.burger__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-top: 165px;
}

.burger-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #000000;
  transition: 0.3s ease;
}

.burger-link_active {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
  transition: 0.3s ease;
}

.burger__account {
  background-image: url("../../images/profile-account.svg");
  background-color: #fff;
  border: none;
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 70px;
}

@media screen and (max-width: 350px) {
  .burger__container {
    width: 100%;
  }

  .burger__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-top: 155px;
  }
}

@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
}
