.search {
  padding-top: 52px;
  padding-bottom: 48px;
}

.search__form {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #e8e8e8;
  flex-grow: 1;
}

.search__form::after {
  content: "";
  height: 40px;
  width: 1px;
  position: absolute;
  background-color: #cbcbcb;
  right: 0;
}

.search__name {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  border: none;
  padding: 9px 0;
  margin-right: 9px;
  outline: none;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: #a0a0a0;
  box-sizing: border-box;
}

.search__name:focus {
  background-color: #f9f9f9;
  border-bottom: 1px solid #a0a0a0;
  transform: translateY(1px);
}

.search__button {
  border: none;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  padding: 0;
  background: #2be080 url("../../../images/icon-search.svg")  center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.search__button:hover {
  opacity: .7;
  cursor: pointer;
}

.search__button_disabled {
  background: rgba(43, 224, 128, 0.4) url("../../../images/icon-search.svg")  center no-repeat;;
}

.search__filter {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 0 9px 9px 0;
  margin-top: 25px;
}

.search__filter-text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .search {
    padding-top: 60px;
    padding-bottom: 62px;
  }

  .search__form {
    margin-bottom: 20px;
  }

  .search__filter {
    align-self: center;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
    height: auto;
  }

  .search__form::after {
    display: none;
  }

  .search__icon {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .search {
    padding-top: 65px;
    padding-bottom: 0;
  }

  .search__form {
    margin-bottom: 30px;
  }

  .search__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .search__filter {
    justify-content: center;
  }

  .search__filter-text {
    font-size: 11px;
  }
}
