@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./utils/container.css);

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
